<div class=" w-full flex flex-col justify-center items-center h-[100vh] bg-gray-100">
    <form class="flex flex-col justify-center gap-5" [formGroup]="reviewForm" (ngSubmit)="onSubmit()">
        <div class="flex flex-col">
            <label for="review">Name</label>
            <input matInput name="name" type="text" formControlName="name" class="my-3" id="review"
                [(ngModel)]="nameValue">
            @if (nameValue === ''){<p class="text-red-500">Name is required</p>}
            <label for="content">Description</label>
            <textarea formControlName="content" class="my-3" id="content" rows="3"
                [(ngModel)]="contentValue"></textarea>
            @if (contentValue === ''){<p class="text-red-500">Description is required</p>}
        </div>
        <mat-form-field>
            <mat-label>Select</mat-label>
            <mat-select formControlName="rating" id="rating" [(ngModel)]="ratingValue">
                <mat-option value="one">First
                    option</mat-option>
                <mat-option value="two">Second option</mat-option>
            </mat-select>
        </mat-form-field>
        @if (ratingValue === ''){<p class="text-red-500">Rating is required</p>}
        <mat-checkbox class="example-margin">On sale</mat-checkbox>
        @if(reviewForm.invalid){
        <button type="submit" class="rounded-lg py-3 bg-blue-300 opacity-25" disabled>Submit</button>
        }
        @else{
        <button type="submit" onclick="sendReviewsSignal()" class="rounded-lg py-3 bg-blue-300">Submit</button>
        }
    </form>
</div>